body{
    margin: 0;
    padding: 0;
    background-color: rgb(184, 238, 220);
}

.container{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box{
    margin-top: 6rem;
    height: 200px;
    width: 80%;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.display{
    padding: 0.5rem;
    height: 25px;
    width: 30%;
    font-size: 2rem;
   
}
.start-timer{
    padding:  15px;
    height: 25px;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-color: white;
    border-radius: 34px;
}

.timer-box{
    background-color: limegreen;
    width: 50%;
    height: 150px;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.timer-box h1 {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}