* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cursor{
    height: 30px;
    width: 30px;
    background-color: white ;
    border-radius: 50%;
    position: absolute;
    transition: 0.01s linear;
    mix-blend-mode: difference;
}

h1{
    font-size:9vw;
    font-weight: 900;
}